body {
    background-color: white;
}

.form-control {
    border: 1px solid black;
}

.table .thead-light th {
    color: #eff2f3;
    background-color: #6c757d;
    border-color: #868686;
    margin-bottom: 10vh;
}

.table {
    margin-bottom: 5vh;
    width: 90%
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.img-header {
    background-size: cover;
    width: 100%;
    height: auto;
}

.title-pont-chaban {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

h3 span {
    font-weight: 700;
}